<style type="text/css">
    body{
        background-color: #FFF8EB;
        font-size: 10px;
        min-height:100vh;
    }

    main{
        min-height:75vh;
    }

    p{
       font-size: 0.9rem;
    }

    a{
        color: #D22D27;
    }

    .btn.btn-secondary{
      background-color: #D22D27;
      color: #FFFF;
      border:none;
    }

    .navbar-brand{
        color: #16151A;
        font-size:1.45rem;
        font-weight: bold;
    }

    .nav-link{
        color: #16151A;
        font-size:1.15rem;
    }

    button.navbar-toggler{
        background-color: #FFFF;
    }

    nav{
        background-color: #FFFF;
        border: bottom 20px #0A2240;
    }

    #search-btn, btn{
      background-color: #D22D27;
      color: #FFFF;
      rounded: 10px;
    }

    .card{
        height: 14rem;
    }
	
    .card-title{
	font-size:1.5rem;
	overflow-wrap: break-word;
    }

    .card-body{
        font-size:1.5rem;
    }

    .card-body p{
		 font-size:0.9rem;
    }
	
</style>
