<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
  .footer-main {
      padding: 2% 7% 1% 7%;
      color: #646771;
      background-color: #16151a;
      border-radius: 0px 0px 0px 0px;

  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0
  }
  ul>li {
      padding: 0.4rem
  }

  .social{
    bottom: 0px;
    right: 0px;
  }
  .social>a>i {
      color: white;

    }
  .social>a>i:hover {
      color: #957bda;
      cursor: pointer
  }
  .heading {
      font-family: 'Titillium Web', sans-serif;
      color: white;
  }
  .divider {
      border-top: 0.2px solid rgba(189, 196, 203, 0.5);
  }
</style>

<footer>
  <div class="mt-5">
      <div class="footer-main" >
          <div class="row p-2">
                  <div class="col-9 footer-text">
                      <div class="d-flex justify-content-start align-items-center">
                          <h1 class="font-weight-bold mr-2 px-3" style="color:#16151a; background-color:#D22D27">V</h1>
                          <h1 style="color: #D22D27" > Pass </h1>
                      </div>
                      <p class="card-text mt-3" style="font-size:1.3rem;">Manage your passwords more easily.<br> Store all of your passwords in one secure place.</p>
                  </div>
                  <div class="col-3 footer-text align-text-bottom position-relative">
                      <div class="social d-flex align-items-center position-absolute ">
                        <a class="btn social-icon button" href="https://linkedin.com/in/oren-rimer">
                          <i class="fa fa-linkedin-square fa-lg"></i>
                        </a>
                        <a class="btn social-icon button" href="https://github.com/orenrimer">
                          <i class="fa fa-github-alt fa-lg"></i>
                        </a>
                      </div>
                  </div>
              </div>
          <div class="divider my-2"></div>
      </div>
  </div>
</footer>
